{% extends 'base.html' %}

{%block content%}
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h1 class="text-center">Zero Um Company</h1>
        </div>
        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <form name="Login" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success mt-4" value="Registrar">
            </form>
        </div>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <a href="/users/login" class="btn btn-success">Voltar</a>
        </div>
{%endblock%}